/* frontend/app/globals.css */

@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  body {
    background-color: #ffffff; /* Фоновый цвет по умолчанию */
    background-image: 
      radial-gradient(circle at 15% 50%, #bcd9ff 0%, transparent 15%), 
      radial-gradient(circle at 85% 30%, #d0ffe05d 0%, transparent 15%);
    background-repeat: no-repeat;
    background-size: 200% 200%;
    animation: gradient-animation 15s ease infinite;
  }
  .dark body {
    background-color: #d8000060;
    background-image:
      radial-gradient(circle at 20% 60%, rgba(255, 27, 38, 0.35) 0%, transparent 40%),
      radial-gradient(circle at 80% 35%, rgba(0, 255, 128, 0.25) 0%, transparent 50%);
  }
}

@keyframes gradient-animation {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}